
 @font-face {
    font-family: louis;
    src: url('fonts/Louis.ttf');
}

@font-face {
    font-family: dragon;
    src: url('fonts/dragon\ fruit\ ttf.ttf');
}


@font-face {
    font-family: ibarra;
    src: url('fonts/ibarra.ttf');
}

*{
    color: white;
    font-family: 'ibarra';
}
.cursiva{
    font-family: 'dragon';
}
.ibarra{
    font-family: 'ibarra';
}
.image {
    background-repeat: no-repeat;
    background-size: cover;
    height: 900px;
    width: 416px;
    margin: 0px auto;
}
.text{
    padding-top: 15px;
}
.tarjeta{
    background-color: #ffffff99;
    color: black;
    border-radius: 10px;
    padding: 10px;
    margin: 20px auto;
    width: 400px;
}
.tarjeta > b{
    font-weight: bold;
    color: black;
}
.tarjeta > h1, .tarjeta > h2, .tarjeta > h3, .tarjeta > h4, .tarjeta > h5, .tarjeta > h6{
    color: black;
}
.fecha{
    font-size: 100px;
    font-weight: bold;
}
.mapa  {
    width: 400px;
    border: 5px solid white; 
    border-radius:20px;
    padding: 10px;
    margin: 20px auto;
    cursor: pointer;
}
.icono > img{
    width: 40px;
}

a, a:hover{
    text-decoration: none;
}
.y{
    font-size: 1.5rem;
}